{{ define "main" }}
  {{ if not .Site.Params.about.hide }}
    {{ partial "about" . }}
  {{ end }}

  {{ if not .Site.Params.portfolio.hide }}
    {{ partial "portfolio" . }}
  {{ end }}

  {{ if not .Site.Params.recentposts.hide }}
    {{ partial "recent-posts" . }}
  {{ end }}

  <a class="twitter-timeline"
      href="https://twitter.com/coxbridge"
      data-tweet-limit="1"
      data-dnt="true"
      data-chrome="nofooter,transparent"
      data-height="200">
      Tweets by @coxbridge</a>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8">
  </script>

  {{ if not .Site.Params.results.hide }}
    {{ partial "results" . }}
  {{ end }}

  {{ if not .Site.Params.licenses.hide }}
    {{ partial "licenses" . }}
  {{ end }}

  {{ if not .Site.Params.contact.hide }}
    {{ partial "contact" . }}
  {{ end }}
{{ end }}
